@font-face {
    font-family: 'MoiraiOne-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/MoiraiOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SokchoBadaBatang';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2402_1@1.0/SokchoBadaBatang.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
body>div{
    margin-top: 10%;
}
body>div>div:nth-child(1){
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    text-align: center;
}
#inputText{
    
    width: 100%;
    text-align: center;
}
input{
    width: 50vh;
    height: 60px;
    border-radius: 15px;
}
#id{
    font-size: 20px;
}
#pw{
    font-size: 20px;
}
#loginBtn{
    height: 70px;
    margin-top: 6vh;
    color:white;
    background-color: rgba(55, 151, 60, 0.637);
    font-size: 48px;
    font-family:'MoiraiOne-Regular';
}
#fistBox{
    margin-top: 5vh;
}
h1{
    font-family: 'SokchoBadaBatang';
}