body,html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.background{
    width: 100%;
    height: 100vh;
    background-image: url('image/밤.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: auto;
}
.formbox{
    display: flex;
    justify-content: center;
    width: 50%;  
    color: wheat;
}
form{
    width: 60%;
    text-align: center;
}
form > div{
    width: 100%;
    margin-top: 10px;
}
input{
    background: transparent;
    width: 100%;
    height: 50px;
    color:wheat;
    border-radius: 10px;
}
input::placeholder{
    color: wheat;
    font-style: italic;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btnCheck{
    position:absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 15px;
    background: transparent;
}

@media(max-width: 1000px){
    input{
        width: 100%;
    }
    form{
        width: 100%;
    }

}
@media(max-width:1200px){
    #countdownTimer {
        margin-right: 35px; /* 버튼과의 간격을 줍니다 */
    }
}
.relative{
    position: relative;
    display: flex;
    flex-direction: row;
}
#countdownTimer{
    color:red;
    text-align: left;
    width: 40%;
    line-height: 50px;
}